{{ansible_managed | comment}}

[Unit]
Description=Node Exporter
Documentation=https://prometheus.io/
Wants=network-online.target
After=network.target syslog.target network-online.target

[Service]
User={{node_exporter_settings.user.login}}
Group={{node_exporter_settings.group.name}}
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p {{node_exporter_settings.run_dir}}
ExecStartPre=-/bin/chown {{node_exporter_settings.user.login}}:{{node_exporter_settings.group.name}} {{node_exporter_settings.run_dir}}
ExecStartPre=-/bin/mkdir -p {{node_exporter_settings.log_dir}}
ExecStartPre=-/bin/chown {{node_exporter_settings.user.login}}:{{node_exporter_settings.group.name}} {{node_exporter_settings.log_dir}}
PIDFile={{node_exporter_settings.run_dir}}/node_exporter.pid
Type=simple
Restart={{systemd.node_exporter.restart_policy | default("always")}}
RestartSec={{systemd.node_exporter.restart_sec | default(10)}}
WorkingDirectory={{node_exporter_settings.base_dir}}
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
KillMode=process
OOMScoreAdjust={{systemd.node_exporter.oom | default(-10) | int}}
ExecStart={{node_exporter_settings.base_dir}}/node_exporter  \
  --collector.textfile.directory {{node_exporter_settings.data_dir}} \
  --log.level {{node_exporter_settings.log_level}} \
  --web.listen-address {{hostvars[inventory_hostname].ansible_all_ipv4_addresses | ipaddr(iface_addr_type) | first}}:{{node_exporter_settings.port | int | mandatory}}
TimeoutSec={{systemd.node_exporter.timeout | default(20) | int}}
StandardOutput={{systemd_stdout | default(systemd_stdout_default)}}
StandardError={{systemd_stderr | default(systemd_stderr_default)}}

[Install]
WantedBy=multi-user.target