{{ansible_managed | comment}}

{{lr.path | mandatory}} {
  {% if lr.options is defined -%}
  {% for option in lr.options -%}
  {{option}}
  {% endfor -%}
  {% endif %}
  {%- if lr.scripts is defined -%}
  {%- for name, script in lr.scripts.items() -%}
  {{name}}
    {{script}}
  endscript
  {% endfor -%}
  {% endif -%}
}