{{ansible_managed | comment}}

[Unit]
Description=Redis persistent key-value database
Wants=network-online.target
After=network.target syslog.target network-online.target

[Service]
Type=simple
User={{redis_user.user.login}}
Group={{redis_user.group.name}}
PIDFile={{redis_run_dir}}/redis.pid
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/mkdir -p {{redis_run_dir}}
ExecStartPre=-/usr/bin/chown {{redis_user.user.login}}:{{redis_user.group.name}} {{redis_run_dir}}
ExecStartPre=/usr/bin/rm -f {{redis_run_dir}}/redis.pid
ExecStart=/usr/bin/redis-server /etc/redis.conf --daemonize no
ExecStop=/usr/bin/redis-shutdown
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=process
PrivateTmp=true
Restart={{systemd.redis.restart_policy}}
RestartSec={{systemd.redis.restart_sec}}
StartLimitInterval={{systemd.redis.start_limit_interval}}
StartLimitBurst={{systemd.redis.start_limit_burst}}

[Install]
WantedBy=multi-user.target