---

servers:
  - name: "am{{project_dns_zone}}-{{nginx_node}}:{{https_port | default(https_port_default) | int}}"
    just_proxy: true
    locations:
    - name: root
      url: /
      match: ""
      websocket: true
      access_log_present: true
      access_log_format: upstream_json
      error_log_present: true
      error_log_level: error
      content: |
        # проксирование alertmanager server
        add_header  "Access-Control-Allow-Origin" "$http_origin";
        add_header  "Access-Control-Allow-Credentials" "true";
        add_header  "Access-Control-Allow-Methods" "GET, OPTIONS";
        add_header  "Access-Control-Allow-Headers" "Authorization, origin, accept";

        proxy_pass http://alertmanager-proxy;
        proxy_redirect off;
        proxy_pass_header Access-Control-Allow-Origin;
        proxy_pass_header Access-Control-Allow-Methods;
        proxy_hide_header Access-Control-Allow-Headers;
        add_header Access-Control-Allow-Headers 'X-Requested-With, Content-Type';
        add_header Access-Control-Allow-Credentials true;