---

servers:
  - name: "am{{project_dns_zone}}-{{nginx_node}}:{{http_port | default(http_port_default) | int}}"
    domains:
      - "am{{project_dns_zone}}"
    listens:
      - name: "{{nginx_node}}:{{http_port | default(http_port_default) | int}}"
        iface: "{{nginx_node}}"
        port: "{{http_port | default(http_port_default) | int}}"
        backlog: 4096
    access_log_present: false
    error_log_present: false
    content: |
      return 301 https://$host$request_uri;
  - name: "am{{project_dns_zone}}-{{nginx_node}}:{{https_port | default(https_port_default) | int}}"
    just_proxy: true
    ssl:
      is_hsts: true
    domains:
      - "am{{project_dns_zone}}"
    listens:
      - name: "{{nginx_node}}:{{https_port | default(https_port_default) | int}}"
        iface: "{{nginx_node}}"
        port: "{{https_port | default(https_port_default) | int}}"
        backlog: 4096
    access_log_present: false
    error_log_present: true
    error_log_level: error