---

upstreams:
  - name: alertmanager-proxy
    keepalive: 128
    nodes:
      - name: alertmanager-proxy
        uri: "{{hostvars[groups['alertmanager'] | first | mandatory]['private_node']}}{{dns_suffix}}:{{alertmanager_port | default(alertmanager_port_default) | int | mandatory}}"
    content: |
      # обслуживание трафика на домене am{{project_dns_zone}}