{{ansible_managed | comment}}

upstream {{nginx_upstream.name}}
{
{% if nginx_upstream.keepalive is defined %}keepalive {{nginx_upstream.keepalive}};{% endif %}

{% if nginx_upstream.nodes is defined %}
{% for node in nginx_upstream.nodes %}
server {{node.uri}}{% if node.weight is defined %} weight={{node.weight}}{% endif %}{% if node.fail_timeout is defined %} fail_timeout={{node.fail_timeout}}{% endif %}{% if node.max_fails is defined %} max_fails={{node.max_fails}}{% endif %}{% if node.params is defined %} {{node.params}}{%- endif -%};
{% endfor %}
{%- endif %}
{% if nginx_upstream.groups is defined %}
{% for group in nginx_upstream.groups %}
# list {{group}};
{% endfor %}
{%- endif %}

{% if nginx_upstream.content is defined %}
{{nginx_upstream.content}}
{%- endif %}

}