{{ansible_managed | comment}}

global:
  scrape_interval: {{prometheus_settings.global.scrape_interval | default("15s")}}
  scrape_timeout: {{prometheus_settings.global.scrape_timeout | default("10s")}}
  evaluation_interval: {{prometheus_settings.global.evaluation_interval | default("15s")}}

rule_files:
  - {{prometheus_settings.cfg_dir}}/rules.d/*.rule

alerting:
  alertmanagers:
    - static_configs:
      - targets:
{% for node in groups['alertmanager'] %}
        - {{alertmanager_settings.host | mandatory}}:{{alertmanager_settings.port | int | mandatory}}
{% endfor %}

scrape_configs:

  - job_name: ne
    honor_labels: true
    metrics_path: '/metrics'

    static_configs:
      - targets:
{% for node in groups['node_exporter'] %}
        - {{hostvars[node].ansible_all_ipv4_addresses | ipaddr(iface_addr_type) | first}}:{{node_exporter_settings.port | int | mandatory}}
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        regex: "^i\\.(.+?)\\:\\d{5}$"
        target_label: instance
        replacement: $1

  - job_name: 'bb-http-ssl-demo-ya.ru'
    metrics_path: /probe
    params:
      module: [http_2xx_ssl]
    static_configs:
      - targets:
        - https://yandex.ru
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{hostvars[groups['blackbox_exporter'] | first].ansible_all_ipv4_addresses | ipaddr(iface_addr_type) | first}}:{{blackbox_exporter_settings.port | int | mandatory}}

  - job_name: 'bb-ne-internal'
    metrics_path: /probe
    params:
      module: [http_2xx_internal]
    static_configs:
      - targets:
{% for node in groups['node_exporter'] %}
        - {{hostvars[node].ansible_all_ipv4_addresses | ipaddr(iface_addr_type) | first}}:{{node_exporter_settings.port | int | mandatory}}
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{hostvars[groups['blackbox_exporter'] | first].ansible_all_ipv4_addresses | ipaddr(iface_addr_type) | first}}:{{blackbox_exporter_settings.port | int | mandatory}}
