{{ansible_managed | comment}}

{% for location in nginx_server.locations %}
location {% if location.match is defined %}{{location.match}}{% endif %} {{location.url}} {
  # {{nginx_server.name}}
  # possible access log formats: general|general_json, upstream|upstream_json
{% if location.access_log_present is defined and location.access_log_present %}
  access_log {{nginx_log_dir}}/{{nginx_server.name}}-access.log{% if location.access_log_format is defined %} {{location.access_log_format}}{% else %} general_json{% endif %};
{% else %}
  access_log off;
{% endif %}

  # possible error log levels: debug, info, notice, warn, error, crit, alert, emerg
{% if location.error_log_present is defined and location.error_log_present %}
  error_log {{nginx_log_dir}}/{{nginx_server.name}}-error.log{% if location.error_log_level is defined %} {{location.error_log_level}}{% else %} crit{% endif %};
{% else %}
  error_log /dev/null crit;
{% endif %}

{% if nginx_server.ssl is defined and nginx_server.ssl.is_hsts is defined and nginx_server.ssl.is_hsts %}
  add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
  add_header X-XSS-Protection "1; mode=block";
  add_header X-Frame-Options "DENY";
  add_header X-Content-Type-Options "nosniff";
{% endif %}

{% if nginx_server.just_proxy is defined and nginx_server.just_proxy %}
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header Host $http_host;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Proto $scheme;
{% endif %}

{% if location.websocket is defined and location.websocket %}
  proxy_http_version 1.1;
  proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection $connection_upgrade;
  proxy_read_timeout 86400;
{% endif %}

{% if location.content is defined %}{{location.content}}{% endif %}

}
{% endfor %}