{{ansible_managed | comment}}

server {
  server_name {% if nginx_server.domains is defined %}{{nginx_server.domains | join(" ")}}{% else %}_{%- endif %};

{% for listen in nginx_server.listens %}
  listen{% if listen.iface is defined %} {{listen.iface}}:{% else %} {% endif %}{% if listen.port is defined %}{{listen.port}}{% endif %}{% if nginx_server.backlog is defined %} backlog={{nginx_server.backlog}}{% endif %}{% if listen.params is defined %} {{listen.params}}{%- endif %};
{% endfor %}


  # possible access log formats: general|general_json, upstream|upstream_json
{% if nginx_server.access_log_present is defined and nginx_server.access_log_present %}
  access_log {{nginx_log_dir}}/{{nginx_server.name}}-access.log{% if nginx_server.access_log_format is defined %} {{nginx_server.access_log_format}}{% else %} general_json{% endif %};
{% else %}
  access_log off;
{% endif %}

  # possible error log levels: debug, info, notice, warn, error, crit, alert, emerg
{% if nginx_server.error_log_present is defined and nginx_server.error_log_present %}
  error_log {{nginx_log_dir}}/{{nginx_server.name}}-error.log{% if nginx_server.error_log_level is defined %} {{nginx_server.error_log_level}}{% else %} crit{% endif %};
{% else %}
  error_log /dev/null crit;
{% endif %}
  log_not_found off;

{% if nginx_server.allows is defined %}
  # allow section
{% for allow in nginx_server.allows %}
  allow {{allow}};
{% endfor %}
{% endif %}

{% if nginx_server.denies is defined %}
  # deny section
{% for deny in nginx_server.denies %}
  deny {{deny}};
{% endfor %}
{% endif %}

{% if nginx_server.domains is defined %}
{% for domain in nginx_server.domains %}
  add_header X-{{short_domain_zone}}-support.domain.{{loop.index}} {{domain}};
{% endfor %}
{% endif %}

{% if nginx_server.client is defined %}
  # client section
  {% if nginx_server.client.max_body_size is defined %}client_max_body_size {{nginx_server.client.max_body_size}};{% endif %}

  {% if nginx_server.client.header_timeout is defined %}client_header_timeout {{nginx_server.client.header_timeout}};{% endif %}

  {% if nginx_server.client.header_buffer_size is defined %}client_header_buffer_size {{nginx_server.client.header_buffer_size}};{% endif %}
{% endif %}

{% if nginx_server.ssl is defined %}
  # ssl section
  include {{nginx_cfg_dir}}/ssl/ssl.conf;
  ssl on;

{% if nginx_server.ssl.certificate is defined %}
  ssl_certificate {{nginx_server.ssl.certificate}};
{% else %}
  ssl_certificate {{nginx_cfg_dir}}/ssl/{{nginx_server.domains | first}}/fullchain.pem;
{% endif %}

{% if nginx_server.ssl.certificate_key is defined %}
  ssl_certificate_key {{nginx_server.ssl.certificate_key}};
{% else %}
  ssl_certificate_key {{nginx_cfg_dir}}/ssl/{{nginx_server.domains | first}}/privkey.pem;
{% endif %}

{% if nginx_server.ssl.is_hsts is defined and nginx_server.ssl.is_hsts %}
  add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
  add_header X-XSS-Protection "1; mode=block";
  add_header X-Frame-Options "DENY";
  add_header X-Content-Type-Options "nosniff";
{% endif %}

  {% if nginx_server.ssl.session_timeout is defined %}ssl_session_timeout {{nginx_server.ssl.session_timeout}};{% endif %}
  {% if nginx_server.ssl.prefer_server_ciphers is defined %}ssl_prefer_server_ciphers {{nginx_server.ssl.prefer_server_ciphers}};{% endif %}

  {% if nginx_server.ssl.protocols is defined %}ssl_protocols {{nginx_server.ssl.protocols}};{% endif %}
  {% if nginx_server.ssl.ciphers is defined %}ssl_ciphers {{nginx_server.ssl.ciphers}};{% endif %}
{% endif %}

{% if nginx_server.gzip is defined %}
  # gzip section
  {% if nginx_server.gzip.state is defined %}gzip {{nginx_server.gzip.state}};{% endif %}

  {% if nginx_server.gzip.proxied is defined %}gzip_proxied {{nginx_server.gzip.proxied}};{% endif %}

  {% if nginx_server.gzip.min_length is defined %}gzip_min_length {{nginx_server.gzip.min_length}};{% endif %}

  {% if nginx_server.gzip.types is defined %}gzip_types {{nginx_server.gzip.types}};{% endif %}

  {% if nginx_server.gzip.comp_level is defined %}gzip_comp_level {{nginx_server.gzip.comp_level}};{% endif %}

  {% if nginx_server.gzip.disable is defined %}gzip_disable {{nginx_server.gzip.disable}};{% endif %}

  {% if nginx_server.gzip.http_version is defined %}gzip_http_version {{nginx_server.gzip.http_version}};{% endif %}

  {% if nginx_server.gzip.buffers is defined %}gzip_buffers {{nginx_server.gzip.buffers}};{% endif %}
{% endif %}

{% if nginx_server.ssi is defined %}
  # ssi section
  {% if nginx_server.ssi.state is defined %}ssi {{nginx_server.ssi.state}};{% endif %}

  {% if nginx_server.ssi.value_length is defined %}ssi_value_length {{nginx_server.ssi.value_length}};{% endif %}

  {% if nginx_server.ssi.min_file_chunk is defined %}ssi_min_file_chunk {{nginx_server.ssi.min_file_chunk}};{% endif %}

  {% if nginx_server.ssi.silent_errors is defined %}ssi_silent_errors {{nginx_server.ssi.ilent_errors}};{% endif %}
{% endif %}

{% if nginx_server.content is defined %}
# raw content by config
{{nginx_server.content}}
{% endif %}

  include {{nginx_cfg_dir}}/conf.d/{{nginx_server.name}}.loc;
  include {{nginx_cfg_dir}}/conf.d/{{nginx_server.name}}_apps_*.loc;

{% if nginx_server.just_proxy is undefined or (nginx_server.just_proxy is defined and not nginx_server.just_proxy) %}
  error_page 401 /401.html;
  error_page 403 /403.html;
  error_page 404 /404.html;
  error_page 500 502 503 504 /50x.html;

  location = /401.html {
    root {{nginx_cfg_dir}}/stubs;
    internal;
  }
  location = /403.html {
    root {{nginx_cfg_dir}}/stubs;
    internal;
  }
  location = /404.html {
    root {{nginx_cfg_dir}}/stubs;
    internal;
  }
  location ~ ^/50\d.html {
    root {{nginx_cfg_dir}}/stubs;
    internal;
  }

  location @zero {
    return 204;
  }
{% endif %}
}