{{ansible_managed | comment}}

[Unit]
Description=Grafana instance
Documentation=http://docs.grafana.org
Wants=network-online.target
After=network.target syslog.target network-online.target

[Service]
EnvironmentFile=/etc/sysconfig/grafana-server
User={{grafana_settings.user.login}}
Group={{grafana_settings.group.name}}
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p {{grafana_settings.run_dir}}
ExecStartPre=-/bin/chown {{grafana_settings.user.login}}:{{grafana_settings.group.name}} {{grafana_settings.run_dir}}
ExecStartPre=-/bin/mkdir -p {{grafana_settings.log_dir}}
ExecStartPre=-/bin/chown {{grafana_settings.user.login}}:{{grafana_settings.group.name}} {{grafana_settings.log_dir}}
Environment=RESTART_ON_UPGRADE=false
Environment=GRAFANA_HOME={{grafana_settings.base_dir}}
Environment=GRAFANA_USER={{grafana_settings.user.login}}
Environment=GRAFANA_GROUP={{grafana_settings.group.name}}
Environment=CONF_DIR={{base_cfg_dir}}/grafana
PIDFile={{grafana_settings.run_dir}}/grafana.pid
Type=simple
Restart=on-failure
WorkingDirectory={{grafana_settings.base_dir | mandatory}}
ExecStart=/usr/sbin/grafana-server --config={{grafana_settings.cfg_dir}}/grafana.ini --pidfile={{grafana_settings.run_dir}}/grafana.pid \
  cfg:default.paths.logs={{grafana_settings.log_dir}} \
  cfg:default.paths.data={{grafana_settings.data_dir}} \
  cfg:default.paths.plugins={{grafana_settings.plugins_dir}}
LimitNOFILE={{grafana_settings.max_open_file | default(10000)}}
TimeoutStopSec=20
StandardOutput={{systemd_stdout | default(systemd_stdout_default)}}
StandardError={{systemd_stderr | default(systemd_stderr_default)}}

[Install]
WantedBy=multi-user.target