---

apiVersion: 1

deleteDatasources:
  - name: Graphite

datasources:
- name: pm
  type: prometheus
  access: proxy
  url: http://{{prometheus_settings.host | mandatory}}:{{prometheus_settings.port | int | mandatory}}
  password:
  user:
  database:
  withCredentials:
  isDefault: true
  jsonData:
     graphiteVersion: "1.1"
     tlsAuth: false
     tlsAuthWithCACert: false
  secureJsonData:
    tlsCACert: "..."
    tlsClientCert: "..."
    tlsClientKey: "..."
  version: 1
  editable: false