---

upstreams:
  - name: prometheus-proxy
    keepalive: 128
    nodes:
      - name: prometheus-proxy
        uri: "{{hostvars[groups['prometheus'] | first | mandatory]['private_node']}}{{dns_suffix}}:{{prometheus_settings.port | int | mandatory}}"
    content: |
      # обслуживание трафика на домене pm{{project_dns_zone}}