{{ansible_managed | comment}}

global:
  smtp_require_tls: false
  smtp_smarthost: "localhost:25"
  smtp_from: "achtung.devops@vtb.ru"

templates:
  - "{{alertmanager_settings.cfg_dir}}/template/*.tmpl"

route:
  group_by: ["instance", "alertname", "severity", "ft"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h
  receiver: devops

  routes:
    - receiver: devops
      group_wait: 5s
      continue: true
      match:
        type: tech

inhibit_rules:
  - source_match:
      severity: "critical"
    target_match:
      severity: "warning"
    equal: ["instance", "alertname", "severity"]

receivers:
  - name: devops
    email_configs:
      - to: vumuzhilov@vtb.ru
        send_resolved: true
