# framework.properties -
#

# ----------------------------------------------------------------
# Rundeck server connection information
# ----------------------------------------------------------------

framework.server.name = {{rundeck_settings.server.name}}
framework.server.hostname = {{rundeck_settings.server.host}}
framework.server.port = {{rundeck_settings.server.port | int | mandatory}}
framework.server.url = http://{{rundeck_settings.server.host}}:{{rundeck_settings.server.port | int | mandatory}}

# ----------------------------------------------------------------
# Installation locations
# ----------------------------------------------------------------

rdeck.base={{rundeck_settings.data_dir | mandatory}}

framework.projects.dir={{rundeck_settings.data_dir}}/projects
framework.etc.dir={{rundeck_settings.cfg_dir}}
framework.var.dir=/var/lib/rundeck/var
framework.tmp.dir=/var/lib/rundeck/var/tmp
framework.logs.dir=/var/lib/rundeck/logs
framework.libext.dir=/var/lib/rundeck/libext

# ----------------------------------------------------------------
# SSH defaults for node executor and file copier
# ----------------------------------------------------------------

framework.ssh.keypath = {{rundeck_settings.ssh.key_directory}}/{{rundeck_settings.ssh.key_name}}
framework.ssh.user = {{rundeck_settings.ssh.user}}

# ssh connection timeout after a specified number of milliseconds.
# "0" value means wait forever.
framework.ssh.timeout = {{rundeck_settings.ssh.timeout | default(0) | int}}


# ----------------------------------------------------------------
# Auto generated server UUID: 7395b7cd-188e-4890-9012-24421974974e
# ----------------------------------------------------------------
rundeck.server.uuid = {{rundeck_uuid | mandatory}}
