# project.properties
#
# $Id: project.properties.template 2126 2010-08-17 21:06:08Z ahonor $
#

#
# The base directory for this project's instances
#
project.dir = {{rundeck_settings.data_dir}}/projects/${project.name}
#
# The base directory of project specific configuration files
#
project.etc.dir = {{rundeck_settings.data_dir}}/projects/${project.name}/etc

#
# The default resources file
#
resources.source.1.type=file
resources.source.1.config.file={{rundeck_settings.data_dir}}/projects/${project.name}/etc/resources.xml
resources.source.1.config.format=resourcexml
resources.source.1.config.includeServerNode=true
resources.source.1.config.generateFileAutomatically=true
#
# The project description
#
project.description =
#
# The organization
#
project.organization =
