
#loglevel.default is the default log level for jobs: ERROR,WARN,INFO,VERBOSE,DEBUG
loglevel.default={{rundeck_settings.log.default_level}}
rdeck.base={{rundeck_settings.data_dir}}

#rss.enabled if set to true enables RSS feeds that are public (non-authenticated)
rss.enabled=false
# change hostname here
grails.serverURL=http://{{rundeck_settings.server.host | mandatory}}:{{rundeck_settings.server.port | int | mandatory}}
dataSource.dbCreate = update
#dataSource.url = jdbc:h2:file:/var/lib/rundeck/data/rundeckdb;MVCC=true
rundeck.log4j.config.file = {{rundeck_settings.log.properties}}

dataSource.driverClassName = org.postgresql.Driver
dataSource.url = jdbc:postgresql://{{hostvars[groups['infra_db'] | first].ansible_all_ipv4_addresses | ipaddr(iface_addr_type) | first}}:{{postgres_settings.port | int | mandatory}}/{{rundeck_settings.postgresql.pg_instances.rundeck.database | mandatory}}
dataSource.username={{rundeck_settings.postgresql.pg_instances.rundeck.role | mandatory}}
dataSource.password={{rundeck_settings.postgresql.pg_instances.rundeck.password | mandatory}}

#rundeck.gui.logo=logo.jpg
{% if rundeck_settings.custom_gui.instanceName is defined and rundeck_settings.custom_gui.instanceName | length > 0 %}
rundeck.gui.instanceName="{{rundeck_settings.custom_gui.instanceName}}"
{% endif %}
{% if rundeck_settings.custom_gui.title is defined and rundeck_settings.custom_gui.title | length > 0 %}
rundeck.gui.title="{{rundeck_settings.custom_gui.title}}"
{% endif %}
{% if rundeck_settings.custom_gui.login_welcome is defined and rundeck_settings.custom_gui.login_welcome | length > 0 %}
rundeck.gui.login.welcome="{{rundeck_settings.custom_gui.login_welcome}}"
{% endif %}
