{{ansible_managed | comment}}

[Unit]
Description=PostgreSQL {{postgres_settings.version}} database server for {{pg_cluster.instance | mandatory}}
Wants=network-online.target
After=network.target syslog.target network-online.target

[Service]
Type=forking
PIDFile={{postgres_settings.data_dir}}/{{pg_cluster.instance | mandatory}}/postmaster.pid
User={{postgres_settings.user.login}}
Group={{postgres_settings.group.name}}
Environment=PGDATA={{postgres_settings.data_dir}}/{{pg_cluster.instance | mandatory}}

OOMScoreAdjust=-1000
Environment=PG_OOM_ADJUST_FILE=/proc/self/oom_score_adj
Environment=PG_OOM_ADJUST_VALUE=0

ExecStartPre=/usr/pgsql-{{postgres_settings.version}}/bin/postgresql{% if postgres_package_version | int < 89 %}-{% endif %}{{postgres_package_version}}-check-db-dir {{postgres_settings.data_dir}}/{{pg_cluster.instance | mandatory}}

ExecStart=/usr/pgsql-{{postgres_settings.version}}/bin/pg_ctl start -w -D {{postgres_settings.data_dir}}/{{pg_cluster.instance | mandatory}} -s -o '-h {{pg_cluster.host | mandatory}} -F -p {{pg_cluster.port | mandatory}}' -l {{postgres_settings.log_dir}}/{{pg_cluster.instance | mandatory}}.log
ExecStop=/usr/pgsql-{{postgres_settings.version}}/bin/pg_ctl stop -s -m fast
ExecReload=/usr/pgsql-{{postgres_settings.version}}/bin/pg_ctl reload -D {{postgres_settings.data_dir}}/{{pg_cluster.instance | mandatory}} -s

Restart={{systemd.postgres.restart_policy}}
RestartSec={{systemd.postgres.restart_sec}}
StartLimitInterval={{systemd.postgres.start_limit_interval}}
StartLimitBurst={{systemd.postgres.start_limit_burst}}

KillMode=mixed
KillSignal=SIGINT
TimeoutSec=300

[Install]
WantedBy=multi-user.target