apiVersion: 1

providers:
  - name: "{{dashboard_name | mandatory}}"
    folder: "{{dashboard_folder | default('')}}"
    type: file
    disableDeletion: {{dashboard_disable_deleteion | default(true)}}
    editable: {{dashboard_editable | default(false)}}
    updateIntervalSeconds: {{dashboard_update_interval | default(10) | int}}
    options:
      path: "{{dashboard_path | mandatory}}"
