{#
  https://www.haproxy.org/download/1.6/doc/management.txt
  https://www.haproxy.com/blog/the-four-essential-sections-of-an-haproxy-configuration/
#}

global
  user    {{haproxy_settings.user.login}}
  group   {{haproxy_settings.group.name}}
  daemon
  maxconn {{haproxy_settings.setup.global.maxconn | int | mandatory}}
defaults
  mode            {{haproxy_settings.setup.defaults.mode | mandatory}}
  balance         {{haproxy_settings.setup.defaults.balance | default('roundrobin')}}
  timeout client  {{haproxy_settings.setup.defaults.timeouts_client | default(3000) | int}}ms
  timeout server  {{haproxy_settings.setup.defaults.timeouts_server | default(3000) | int}}ms
  timeout connect {{haproxy_settings.setup.defaults.timeouts_connect | default(3000) | int}}ms
  retries         {{haproxy_settings.setup.defaults.retries | default(3) | int}}
{% for emap in haproxy_settings.setup.mapping | list %}

frontend {{emap.src.name}}
{% for omap in emap.src.options | default([]) | list %}
  {{omap}}
{% endfor %}
{% for smap in emap.src.binds | list %}
  bind {{smap.ip | mandatory}}:{{smap.port | int | mandatory}} {{smap.options | default('')}}
{% endfor %}
  default_backend {{emap.dst.name}}

backend {{emap.dst.name}}
{% for omap in emap.dst.options | default([]) | list %}
  {{omap}}
{% endfor %}
{% for smap in emap.dst.upstreams | list %}
{% set bidx = loop %}
  server upstream{{bidx.index}} {{smap.ip | mandatory}}:{{smap.port | int | mandatory}} {{smap.options | default('')}}
{% endfor %}
{% endfor %}


{#
frontend sbp_in_server
        bind 0.0.0.0:4443
        default_backend sbp_api_in
backend sbp_api_in
        server srv1 172.16.3.224:9998 maxconn 2048
frontend sbp_out_server_url_prefixes
        bind 0.0.0.0:14888
        default_backend sbp_api_out_url_prefixes
backend sbp_api_out_url_prefixes
        server srv1 sbp-cert1.cbrpay.ru:443 maxconn 2048
        server srv2 sbp-cert2.cbrpay.ru:443 maxconn 2048
frontend sbp_out_server_dict_url_prefixes
        bind 0.0.0.0:14889
        default_backend sbp_api_out_dict_url_prefixes
backend sbp_api_out_dict_url_prefixes
        server srv1 dict.sbp-cert1.cbrpay.ru:443 maxconn 2048
        server srv2 dict.sbp-cert2.cbrpay.ru:443 maxconn 2048
frontend sbp_out_server_report_url_prefixes
        bind 0.0.0.0:14890
        default_backend sbp_api_out_report_url_prefixes
backend sbp_api_out_report_url_prefixes
        server srv1 report.sbp-cert1.cbrpay.ru:443 maxconn 2048
        server srv2 report.sbp-cert2.cbrpay.ru:443 maxconn 2048
#}