{{ansible_managed | comment}}

[Unit]
Description=Alertmanager instance
Documentation=https://prometheus.io/
Wants=network-online.target
After=network.target syslog.target network-online.target

[Service]
User={{alertmanager_settings.user.login}}
Group={{alertmanager_settings.group.name}}
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p {{alertmanager_settings.run_dir}}
ExecStartPre=-/bin/chown {{alertmanager_settings.user.login}}:{{alertmanager_settings.group.name}} {{alertmanager_settings.run_dir}}
ExecStartPre=-/bin/mkdir -p {{alertmanager_settings.log_dir}}
ExecStartPre=-/bin/chown {{alertmanager_settings.user.login}}:{{alertmanager_settings.group.name}} {{alertmanager_settings.log_dir}}
PIDFile={{alertmanager_settings.run_dir}}/alertmanager.pid
Type=simple
Restart=on-failure
WorkingDirectory={{alertmanager_settings.base_dir | mandatory}}
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
KillMode=process
ExecStart={{alertmanager_settings.base_dir}}/alertmanager --config.file {{alertmanager_settings.cfg_dir}}/alertmanager.yml \
  --log.level {{alertmanager_settings.log_level}} \
  --storage.path {{alertmanager_settings.data_dir}} \
  --web.listen-address {{alertmanager_settings.host | mandatory}}:{{alertmanager_settings.port | int | mandatory}}
TimeoutStopSec=20
StandardOutput={{systemd_stdout | default(systemd_stdout_default)}}
StandardError={{systemd_stderr | default(systemd_stderr_default)}}

[Install]
WantedBy=multi-user.target