{{ansible_managed | comment}}

user nginx;

# decrease count of system call: gettimeofday
timer_resolution 100ms;
worker_processes {{nginx_worker_processes | default("auto")}};
# number of file descriptors used for nginx, this is set in the OS with 'ulimit -n 200000'
# or using /etc/security/limits.conf
worker_rlimit_nofile {{nginx_settings.pam.worker_rlimit_nofile | int | mandatory}};

# error_log {{nginx_settings.log_dir}}/error.log debug;
# error_log {{nginx_settings.log_dir}}/error.log notice;
error_log {{nginx_settings.log_dir}}/error.log  info;

pid {{nginx_settings.run_dir}}/nginx.pid;

events
{
  # determines how many clients will be served by each worker process
  # (max clients = worker_connections * worker_processes)
  # "max clients" is also limited by the number of socket connections available on the system (~64k)
  worker_connections 16384;
  use epoll;
  # accept as many connections as possible, after nginx gets notification about a new connection
  multi_accept on;
}

http
{
  default_type application/octet-stream;
  include {{nginx_settings.cfg_dir}}/mime.types;

  root {{nginx_settings.cfg_dir}}/stubs;
  access_log off;
  error_log /dev/null crit;

  include {{nginx_settings.cfg_dir}}/log_formats.conf;

  types_hash_bucket_size 64;
  server_names_hash_bucket_size 64;
  proxy_headers_hash_bucket_size 512;
  variables_hash_max_size 1024;

  resolver {{dns.list | join(" ")}} valid={{dns.valid | default('300s')}};
  resolver_timeout {{dns.timeout | default('5s')}};

  ssi on;
  ssi_value_length 1024;
  ssi_min_file_chunk 1k;
  ssi_silent_errors off;

  # Sendfile copies data between worker_processes auto;n one FD and other from within the kernel
  sendfile on;
  sendfile_max_chunk 512k;
  # tcp_nopush causes nginx to attempt to send its HTTP response head in one packet,
  # instead of using partial frames, this is useful for prepending headers before calling sendfile,
  # or for throughput optimization
  tcp_nopush on;

  # caches information about open FDs, freqently accessed files
  open_file_cache max=200000 inactive=20s;
  open_file_cache_valid 30s;
  open_file_cache_min_uses 2;
  open_file_cache_errors on;

  # кэширование дескрипторов лог файлов (open_log_file_cache off; - запрещает кэширование)
  open_log_file_cache max=256 inactive=30s min_uses=1 valid=90s;

  connection_pool_size 256;
  client_max_body_size 128m;
  client_header_timeout 10m;
  client_header_buffer_size 1k;
  large_client_header_buffers 4 2k;
  request_pool_size 4k;
  # If the client stops reading data, free up the stale client connection after this much time
  send_timeout 2;
  # send the client a "request timed out" if the body is not loaded by this time. Default 60.
  client_body_timeout 10;

  # server will close connections after this time
  keepalive_timeout 65 20;
  # number of requests a client can make over the keep-alive connection
  keepalive_requests 100000;
  # allow the server to close the connection after a client stops responding,
  # frees up socket-associated memory
  reset_timedout_connection on;

  gzip on;
  gzip_min_length 10240;
  gzip_buffers 64 8k;
  gzip_comp_level 3;
  gzip_proxied expired no-cache no-store private auth;
  gzip_http_version 1.1;
  gzip_disable "MSIE [1-6]\.";
  gzip_types text/plain text/css text/js text/xml text/javascript text/x-javascript text/json application/xml application/javascript application/x-javascript application/json;

  output_buffers 1 32k;
  postpone_output 1460;

  # don't buffer data-sends (disable Nagle algorithm, gGood for sending frequent small bursts of data in real time)
  tcp_nodelay on;
  # nginx version in http response restricted
  server_tokens off;

  ignore_invalid_headers on;
  charset UTF-8;

  include {{nginx_settings.cfg_dir}}/map.d/*.conf;
  include {{nginx_settings.cfg_dir}}/upstream.d/*.conf;
  include {{nginx_settings.cfg_dir}}/conf.d/*.conf;
}