{{ansible_managed | comment}}

location = /favicon.ico
{
  log_not_found off;
  access_log    off;

  try_files $uri @emptygif;
}

location @emptygif
{
  internal;
  empty_gif;
}

location = /robots.txt
{
  access_log    off;
  log_not_found off;
}

location ~ /\.
{
  access_log    off;
  log_not_found off;

  deny all;
}

location ~ ~$
{
  access_log  off;
  log_not_found off;

  deny all;
}

location = /401.html
{
  root  {{nginx_settings.cfg_dir}}/stubs;
  access_log {{nginx_settings.log_dir}}/error.log general_json;
}

location = /403.html
{
  root  {{nginx_settings.cfg_dir}}/stubs;
  access_log {{nginx_settings.log_dir}}/error.log general_json;
}

location = /404.html
{
  root  {{nginx_settings.cfg_dir}}/stubs;
  access_log {{nginx_settings.log_dir}}/error.log general_json;
}

location = /50x.html
{
  root  {{nginx_settings.cfg_dir}}/stubs;
  access_log {{nginx_settings.log_dir}}/error.log general_json;
}
