{{ansible_managed | comment}}

[Unit]
Description=Prometheus instance
Documentation=https://prometheus.io/
Wants=network-online.target
After=network.target syslog.target network-online.target

[Service]
User={{prometheus_settings.user.login}}
Group={{prometheus_settings.group.name}}
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p {{prometheus_settings.run_dir}}
ExecStartPre=-/bin/chown {{prometheus_settings.user.login}}:{{prometheus_settings.group.name}} {{prometheus_settings.run_dir}}
ExecStartPre=-/bin/mkdir -p {{prometheus_settings.log_dir}}
ExecStartPre=-/bin/chown {{prometheus_settings.user.login}}:{{prometheus_settings.group.name}} {{prometheus_settings.log_dir}}
ExecStartPre={{prometheus_settings.base_dir}}/promtool check config {{prometheus_settings.cfg_dir}}/prometheus.yml
PIDFile={{prometheus_settings.run_dir}}/prometheus.pid
Type=simple
Restart=on-failure
WorkingDirectory={{prometheus_settings.base_dir | mandatory}}
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
KillMode=process
ExecStart={{prometheus_settings.base_dir}}/prometheus --config.file {{prometheus_settings.cfg_dir}}/prometheus.yml \
  --log.level {{prometheus_settings.log_level}} \
  --web.listen-address {{prometheus_settings.host | mandatory}}:{{prometheus_settings.port | int | mandatory}} \
  --web.enable-admin-api \
  --web.enable-lifecycle \
  --storage.tsdb.path {{prometheus_settings.data_dir}} \
  --storage.tsdb.retention.time {{prometheus_settings.retention}} \
  --web.console.libraries {{prometheus_settings.base_dir}}/console_libraries \
  --web.console.templates {{prometheus_settings.base_dir}}/consoles
TimeoutStopSec=20
StandardOutput={{systemd_stdout | default(systemd_stdout_default)}}
StandardError={{systemd_stderr | default(systemd_stderr_default)}}

[Install]
WantedBy=multi-user.target