{{ansible_managed | comment}}

[Unit]
Description=The nginx HTTP and reverse proxy server
Wants=network-online.target
After=network.target remote-fs.target nss-lookup.target network-online.target

[Service]
Type=forking
PIDFile={{nginx_settings.run_dir}}/nginx.pid
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/mkdir -p {{nginx_settings.run_dir}}
ExecStartPre=-/usr/bin/chown {{nginx_settings.user.login}}:{{nginx_settings.group.name}} {{nginx_settings.run_dir}}
ExecStartPre=/usr/bin/rm -f {{nginx_settings.run_dir}}/nginx.pid
ExecStartPre=/usr/sbin/nginx -t -c {{nginx_settings.cfg_dir}}/nginx.conf
ExecStart=/usr/sbin/nginx
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=process
PrivateTmp=true
Restart={{systemd.nginx.restart_policy}}
RestartSec={{systemd.nginx.restart_sec}}
StartLimitInterval={{systemd.nginx.start_limit_interval}}
StartLimitBurst={{systemd.nginx.start_limit_burst}}

[Install]
WantedBy=multi-user.target