{{ansible_managed | comment}}

[Unit]
Description=Blackbox Exporter
Documentation=https://prometheus.io/
Wants=network-online.target
After=network.target syslog.target network-online.target

[Service]
User={{blackbox_exporter_settings.user.login}}
Group={{blackbox_exporter_settings.group.name}}
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p {{blackbox_exporter_settings.run_dir}}
ExecStartPre=-/bin/chown {{blackbox_exporter_settings.user.login}}:{{blackbox_exporter_settings.group.name}} {{blackbox_exporter_settings.run_dir}}
ExecStartPre=-/bin/mkdir -p {{blackbox_exporter_settings.log_dir}}
ExecStartPre=-/bin/chown {{blackbox_exporter_settings.user.login}}:{{blackbox_exporter_settings.group.name}} {{blackbox_exporter_settings.log_dir}}
PIDFile={{blackbox_exporter_settings.run_dir}}/blackbox_exporter.pid
Type=simple
Restart={{systemd.blackbox_exporter.restart_policy | default("always")}}
RestartSec={{systemd.blackbox_exporter.restart_sec | default(10)}}
WorkingDirectory={{blackbox_exporter_settings.base_dir | mandatory}}
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
KillMode=process
OOMScoreAdjust={{systemd.blackbox_exporter.oom | default(-10) | int}}
ExecStart={{blackbox_exporter_settings.base_dir}}/blackbox_exporter  \
  --log.level {{blackbox_exporter_settings.log_level}} \
  --config.file {{blackbox_exporter_settings.cfg_dir}}/blackbox_exporter.yml \
  --web.listen-address {{hostvars[inventory_hostname].ansible_all_ipv4_addresses | ipaddr(iface_addr_type) | first}}:{{blackbox_exporter_settings.port | int | mandatory}}
TimeoutSec={{systemd.blackbox_exporter.timeout | default(20) | int}}
StandardOutput={{systemd_stdout | default(systemd_stdout_default)}}
StandardError={{systemd_stderr | default(systemd_stderr_default)}}

[Install]
WantedBy=multi-user.target